<!-- search -->
<div class="flex justify-content-center">
  <p-inputGroup class="w-9">
    <input type="text" pInputText placeholder="Search" />
    <button type="button" pButton icon="pi pi-search" styleClass="p-button-warn"></button>
  </p-inputGroup>
</div>
<!-- notes -->
<div class="grid m-0 mt-4">
  <div *ngFor="let note of notes" class="col-12 md:col-6 lg:col-4">
    <div class="p-3 surface-0 box-shadow border">
      <div (click)="openDetails(note)" class="cursor-pointer">
        <p class="text-center font-semibold text-xl text-700 white-space-nowrap overflow-hidden text-overflow-ellipsis">
          {{note.title}}</p>
        <div class="h-10rem">
          <p-editor [readonly]="true" class="readonly-editor" [readonly]="true" [(ngModel)]="note.description"
            styleClass="h-full overflow-hidden"></p-editor>
        </div>
      </div>
      <p-divider />
      <div class="flex align-items-center justify-content-between mt-2">
        <p class="text-gray-500">Updated: {{note.modifiedDate | date}}</p>
        <div class="flex gap-2">
          <p-button (click)="openDeleteDialog(note)" icon="pi pi-trash" [rounded]="true" [outlined]="true"
            size="small"></p-button>
          <p-button (click)="openDetails(note)" icon="pi pi-pencil" [rounded]="true" size="small"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add button -->
<button (click)="openAddDialog()" class="add-button border-circle"><i class="pi pi-plus text-4xl text-0"></i></button>


<!-- details -->
<p-dialog *ngIf="detailsDialogVisibility && ((screenSize$ | async) === 'lg' || (screenSize$ | async) ==='xl')"
  [modal]='true' [(visible)]="detailsDialogVisibility" [style]="{width: '80vw'}">

  <form [formGroup]="form">
    <div class="flex align-items-center justify-content-between">
      <p class="text-800 font-semibold text-xl">Title</p>
      <i (click)="setImportance(false)" pTooltip="Unset as Important" tooltipPosition="bottom"
        *ngIf="selectedNote.isImportant" class="pi pi-star-fill cursor-pointer"
        style="color: #FFD700; font-size: 2rem"></i>
      <i (click)="setImportance(true)" pTooltip="Set as Important" tooltipPosition="bottom"
        *ngIf="!selectedNote.isImportant" class="pi pi-star cursor-pointer" style="font-size: 2rem"></i>
    </div>
    <input formControlName="title" pInputText placeholder="Title for the Note" class="w-full text-lg text-700 mt-3" />
    <p class="text-800 font-semibold text-lg mt-4">Notes Description</p>
    <div class="h-22rem mt-2">
      <p-editor formControlName="description" styleClass="h-20rem"></p-editor>
    </div>
    <p class="text-800 font-semibold text-lg mt-4">Tags</p>
    <div class="flex flex-wrap align-items-center gap-3 mt-2" formArrayName="tagsForm">
      <div *ngFor="let tagControl of tagsForm.controls; let i = index">
        <p-inputGroup>
          <input type="text" pInputText placeholder="Tag" [formControl]="$any(tagControl)" />
          <button (click)="removeTag(i)" type="button" pButton icon="pi pi-minus" outlined="true"></button>
        </p-inputGroup>
      </div>
      <p-button (click)="addTag()" icon="pi pi-plus"></p-button>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button (click)="closeDetailsDialog()" label="Cancel" outlined="true"></p-button>
    <p-button (click)="updateNote()" label="Save"></p-button>
  </ng-template>
</p-dialog>

<p-sidebar *ngIf="detailsDialogVisibility && ((screenSize$ | async) ==='sm' || (screenSize$ | async) === 'md')"
  [(visible)]="detailsDialogVisibility" position="bottom" [style]="{height:'80vh'}" styleClass="border-round-top">
  <form [formGroup]="form">
    <div class="flex align-items-center justify-content-between">
      <p class="text-800 font-semibold text-xl">Title</p>
      <i (click)="setImportance(false)" pTooltip="Unset as Important" tooltipPosition="bottom"
        *ngIf="selectedNote.isImportant" class="pi pi-star-fill cursor-pointer"
        style="color: #FFD700; font-size: 2rem"></i>
      <i (click)="setImportance(true)" pTooltip="Set as Important" tooltipPosition="bottom"
        *ngIf="!selectedNote.isImportant" class="pi pi-star cursor-pointer" style="font-size: 2rem"></i>
    </div>
    <input formControlName="title" pInputText placeholder="Title for the Note" class="w-full text-lg text-700 mt-2" />
    <p class="text-800 font-semibold text-lg mt-4">Notes Description</p>
    <div class="h-22rem mt-2">
      <p-editor formControlName="description" styleClass="h-20rem"></p-editor>
    </div>
    <p class="text-800 font-semibold text-lg mt-4">Tags</p>
    <div class="flex flex-wrap align-items-center gap-3 mt-5" formArrayName="tagsForm">
      <div *ngFor="let tagControl of tagsForm.controls; let i = index">
        <p-inputGroup>
          <input type="text" pInputText placeholder="Tag" [formControl]="$any(tagControl)" />
          <button (click)="removeTag(i)" type="button" pButton icon="pi pi-minus" outlined="true"></button>
        </p-inputGroup>
      </div>
      <p-button (click)="addTag()" icon="pi pi-plus"></p-button>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button (click)="closeDetailsDialog()" label="Cancel" outlined="true"></p-button>
    <p-button (click)="updateNote()" label="Save"></p-button>
  </ng-template>
</p-sidebar>

<!-- new -->
<p-dialog *ngIf="addDialogVisibility && ((screenSize$ | async) === 'lg' || (screenSize$ | async) ==='xl')"
  [modal]='true' [(visible)]="addDialogVisibility" [style]="{width: '80vw'}">
  <form [formGroup]="form">
    <p class="text-800 font-semibold text-lg">Title</p>
    <input formControlName="title" pInputText placeholder="Title for the Note" class="w-full text-lg text-700 mt-2" />
    <div class="mt-1" *ngIf="form.get('title')?.invalid && form.get('title')?.touched">
      <p class="text-red-500 text-xs">*Title is required.</p>
    </div>
    <p class="text-800 font-semibold text-lg mt-4">Notes Description</p>
    <div class="h-22rem mt-2">
      <p-editor formControlName="description" styleClass="h-20rem"></p-editor>
    </div>
    <div class="mt-4" *ngIf="form.get('description')?.invalid && form.get('description')?.touched">
      <p class="text-red-500 text-xs">*Description is required.</p>
    </div>
    <p class="text-800 font-semibold text-lg mt-4">Tags</p>
    <div class="flex flex-wrap align-items-center gap-3 mt-2" formArrayName="tagsForm">
      <div *ngFor="let tagControl of tagsForm.controls; let i = index">
        <p-inputGroup>
          <input type="text" pInputText placeholder="Tag" [formControl]="$any(tagControl)" />
          <button (click)="removeTag(i)" type="button" pButton icon="pi pi-minus" outlined="true"></button>
        </p-inputGroup>
      </div>
      <p-button (click)="addTag()" icon="pi pi-plus"></p-button>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button (click)="closeAddDialog()" label="Cancel" outlined="true"></p-button>
    <p-button (click)="addNewNote()" label="Save"></p-button>
  </ng-template>
</p-dialog>

<p-sidebar *ngIf="addDialogVisibility && ((screenSize$ | async) ==='sm' || (screenSize$ | async) === 'md')"
  [(visible)]="addDialogVisibility" position="bottom" [style]="{height:'80vh'}" styleClass="border-round-top">
  <form [formGroup]="form">
    <p class="text-800 font-semibold text-lg">Title</p>
    <input formControlName="title" pInputText placeholder="Title for the Note" class="w-full text-lg text-700 mt-2" />
    <p class="text-800 font-semibold text-lg mt-4">Notes Description</p>
    <div class="h-22rem mt-2">
      <p-editor formControlName="description" styleClass="h-20rem"></p-editor>
    </div>
    <p class="text-800 font-semibold text-lg mt-4">Tags</p>
    <div class="flex flex-wrap align-items-center gap-3 mt-5" formArrayName="tagsForm">
      <div *ngFor="let tagControl of tagsForm.controls; let i = index">
        <p-inputGroup>
          <input type="text" pInputText placeholder="Tag" [formControl]="$any(tagControl)" />
          <button (click)="removeTag(i)" type="button" pButton icon="pi pi-minus" outlined="true"></button>
        </p-inputGroup>
      </div>
      <p-button (click)="addTag()" icon="pi pi-plus"></p-button>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button (click)="closeDetailsDialog()" label="Cancel" outlined="true"></p-button>
    <p-button (click)="addNewNote()" label="Save"></p-button>
  </ng-template>
</p-sidebar>

<!-- Delete -->
<p-dialog *ngIf="(screenSize$ | async) === 'lg' || (screenSize$ | async) === 'xl'" [modal]='true'
  [(visible)]="deleteDialogVisibility" [style]="{width: '30vw'}">
  <div class="flex justify-content-center align-items-center">
    <div class="flex gap-2 align-items-center">
      <p class="text-2xl font-bold">Confirm Delete</p>
    </div>
  </div>
  <p class="text-xl text-700 font-semibold mt-5 text-center">Are you sure to remove {{selectedNote &&
    selectedNote.title}}
    from
    the
    cart?</p>
  <div class="grid m-0 mt-6">
    <div class="col-6 py-0">
      <p-button (click)="closeDeleteDialog()" label="Cancel" [outlined]="true" styleClass="w-full"></p-button>
    </div>
    <div class="col-6 py-0">
      <p-button (click)='confirmDelete(selectedNote._id)' label="Delete" styleClass="w-full"></p-button>
    </div>
  </div>
</p-dialog>

<p-sidebar *ngIf="(screenSize$ | async) === 'sm' || (screenSize$ | async) === 'md'" [(visible)]="deleteDialogVisibility"
  position="bottom" styleClass="border-round-top" [modal]="false">
  <ng-template pTemplate="header">
    <div class="flex justify-content-center align-items-center px-2 pb-3">
      <div class="flex gap-2 align-items-center">
        <p class="text-2xl font-bold">Confirm Delete</p>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="text-xl text-700 font-semibold text-center">Are you sure to remove {{selectedNote &&
      selectedNote.title}} from
      the
      cart?
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="grid m-0">
      <div class="col-6 py-0">
        <p-button (click)="closeDeleteDialog()" label="Cancel" [outlined]="true" styleClass="w-full  "></p-button>
      </div>
      <div class="col-6 py-0">
        <p-button (click)='confirmDelete(selectedNote._id)' label="Delete" styleClass="w-full"></p-button>
      </div>
    </div>
  </ng-template>
</p-sidebar>
