.p-sidebar {
  background: #ffffff;
  color: #495057;
  border: 0 none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.p-sidebar .p-sidebar-header {
  display: none;
}

.p-sidebar .p-sidebar-content {
  padding: 1.25rem;
}

.p-sidebar .p-sidebar-footer {
  border-top: 0 none;
  background: #ffffff;
  color: #495057;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  text-align: right;
}
.p-sidebar .p-sidebar-footer button {
  margin: 0 0.5rem 0 0;
  width: auto;
}
