<div class="px-2 md:px-6 lg:px-8 py-3 surface-0 flex justify-content-between align-items-center">
  <!-- Logo -->
  <div class="flex gap-3 align-items-center cursor-pointer">
    <i (click)="openSideBar()" class="pi pi-bars text-3xl text-400 lg:hidden"></i>
    <div class="flex align-items-center">
      <div class="w-4rem md:w-5rem">
        <img [src]="ASSETS.IMAGES.LOGO" alt="LOGO" width="full">
      </div>
      <div>
        <p class="text-xl md:text-3xl text-primary-500 font-bold">easy Notes</p>
        <p class="hidden md:block text-600 font-semibold">Note your precious IDEAS</p>
      </div>
    </div>
  </div>
  <!-- Night Mode Toggle -->
  <div class="flex align-items-center gap-3">
    <div class="flex align-items-center gap-2">
      <i class="pi pi-sun text-2xl text-600"></i>
      <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
      <i class="pi pi-moon text-2xl text-600"></i>
    </div>
    <i (click)="op.toggle($event)"
      class="pi pi-user text-lg font-bold text-600 border-2 border-text-600 border-circle p-1 cursor-pointer hover-color hover:border-primary-500"></i>
  </div>
</div>


<p-sidebar header="Menu" *ngIf="(_deviceWidthService.screenSize$ | async) === 'sm' || 'md'" [(visible)]="menuVisibility"
  [style]="{width:'60vw'}" position="left">
  <ng-template pTemplate="headless">
    <div class="p-3">
      <div class="flex justify-content-between align-items-center">
        <div class="flex align-items-center">
          <div class="w-4rem md:w-5rem">
            <img [src]="ASSETS.IMAGES.LOGO" alt="LOGO" width="full">
          </div>
          <div>
            <p class="text-xl md:text-3xl text-primary-500 font-bold">easy Notes</p>
          </div>
        </div>
        <i (click)="closeSideBar()" class="pi pi-times text-lg md:text-3xl font-bold"></i>
      </div>
      <p class="text-600 font-semibold">Note your precious IDEAS</p>
      <div class="mt-2">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </ng-template>
</p-sidebar>

<p-overlayPanel #op>
  <ng-template pTemplate="content">
    <div *ngIf="userDetails" class="flex align-items-center gap-2 p-2 bg-gray-200 border-round">
      <p class="py-1 px-3 text-white border-circle font-bold bg-primary-600 text-3xl">
        {{userDetails.username.charAt(0).toUpperCase()}}</p>
      <div>
        <p class="text-xl font-bold text-700">{{userDetails.username}}</p>
        <p class="text-sm text-700">{{userDetails.email}}</p>
      </div>
    </div>
    <div class="py-2 px-4 mt-1 flex gap-3 align-items-center cursor-pointer border-round hover-effect">
      <i class="text-xl pi pi-user"></i>
      <p class="text-lg">Profile</p>
    </div>
    <div class="py-2 px-4 mt-1 flex gap-3 align-items-center cursor-pointer border-round hover-effect">
      <i class="text-xl pi pi-cog"></i>
      <p class="text-lg">Settings and Privacy</p>
    </div>
    <div (click)="logout()" class="py-2 px-4 flex gap-3 align-items-center cursor-pointer border-round hover-effect">
      <i class="text-xl pi pi-sign-out"></i>
      <p class="text-lg">Logout</p>
    </div>
  </ng-template>
</p-overlayPanel>
